<!DOCTYPE html>
<html lang="en">
<head>
	<title>Labs - Design Studio</title>
	<meta charset="UTF-8">
	<meta name="description" content="Labs - Design Studio">
	<meta name="keywords" content="lab, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader">
			<img src="img/logo.png" alt="">
			<h2>Loading.....</h2>
		</div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<div class="logo">
			<img src="img/logo.png" alt=""><!-- Logo -->
		</div>
		<!-- Navigation -->
		<div class="responsive"><i class="fa fa-bars"></i></div>
		<nav>
			<ul class="menu-list">
				<li><a href="home.html">Home</a></li>
				<li><a href="services.html">Services</a></li>
				<li class="active"><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Page header -->
	<div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>Blockchain</h2>
				<div class="page-links">
					<a href="/">Home</a>
					<span>Blockchain</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Page header end-->


	<!-- page section -->
	<div class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-7 blog-posts">
					<!-- Single Post -->
					<div class="single-post">
						<div class="post-thumbnail">
							<img src="img/blog/blog-1.jpg" alt="">
							<div class="post-date">
								<h2>31</h2>
								<h3>May 2018</h3>
							</div>
						</div>
						<div class="post-content">
							<h2 class="post-title">Blockchain Course</h2>
							<div class="post-meta">
								<a href="">Blockchain</a>
								<a href="">Bitcoin</a>
								<a href="">Etherum</a>
							</div>
							<p>ITM New Wave IT Lab’s Blockchain Course will provide an overview of the structure and mechanism of Bitcoin, Ethereum, Hyperledger and Multichain Blockchain platforms. You will learn to setup your own private Blockchain and deploy smart contracts on Ethereum. Consecutively, you will also learn to deploy the business network using Hyperledger Composer and be able to setup a private Multichain environment.</p>
							<div class="col-md-8">
								<div class="site-accordions">
									<div class="panel-group" id="accordion">
										<!-- Single Accordions -->
										<div class="panel active">
											<div class="panel-heading">
												<h4 class="panel-title">Do you Know ?</h4>
												<a data-toggle="collapse" data-parent="#accordion" href="#accordion1"></a>
											</div>
											<div id="accordion1" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>
														  Blockchain development is the second-hottest skill in the job market today, growing more than 200% since this time last year.
														</li>
														<li>
														  Blockchain developers globally are in high demand, with many on salaries amounting to as much as $180,000 a year.
														</li>
														<li>
														  The number of jobs in the blockchain industry that were advertised on LinkedIn soared in 2017, increasing from 1,037 in December
														  2016 to 4,541 in December 2017.
									
														</li>
													  </ul>
												</div>
											</div>
										</div>
										<!-- Single Accordions -->
										<div class="panel">
											<div class="panel-heading">
												<h4 class="panel-title">Why should you take Blockchain course ?</h4>
												<a data-toggle="collapse" data-parent="#accordion" href="#accordion2"></a>
											</div>
											<div id="accordion2" class="panel-collapse collapse">
												<div class="panel-body">
												</Strong>
												<ul>
												  <li>According to the World Economic Forum, 1o% of the world's GDP will be on Blockchain related technologies
													by 2025
												  </li>
												  <li>Average yearly salary for "Blockchain Developer" ranges from $85k for Application Developer to $115k
													for Senior Software Engineer as per indeed.com
												  </li>
												  <li>
													Bill & Melinda Gates Foundation aims to use Blockchain technology to help the two billion people worldwide who lack bank
													accounts
												  </li>
												</ul>
												</div>
											</div>
										</div>
										<!-- Single Accordions -->
										<div class="panel">
											<div class="panel-heading">
												<h4 class="panel-title">Career Opportunities</h4>
												<a data-toggle="collapse" data-parent="#accordion" href="#accordion3"></a>
											</div>
											<div id="accordion3" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Blockchain developer </li>
														<li>Blockchain Consulting </li>
														<li>Program Manager </li>
														<li>Project Lead - Blockchain </li>
														<li>Endless Opportunities </li>
													  </ul>
												</div>
											</div>
										</div>
										<!-- New -->
										<div class="panel">
											<div class="panel-heading">
												<h4 class="panel-title">Program Duration</h4>
												<a data-toggle="collapse" data-parent="#accordion" href="#accordion4"></a>
											</div>
											<div id="accordion4" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>150 Hours of training in weekend batch, Weekday Batches and Hybrid Batches
														</li>
														<li>Batches are fully flexible. </li>
													  </ul>
												</div>
											</div>
										</div>						

										<div class="panel">
											<div class="panel-heading">
												<h4 class="panel-title">Curriculum</h4>
												<a data-toggle="collapse" data-parent="#accordion" href="#accordion5"></a>
											</div>
											<div id="accordion5" class="panel-collapse collapse">
												<div class="panel-body">
													<ol>
														<li>Introduction to Blockchain</li>
														<li>Deep Diving into Blockchain</li>
														<li>Bitcoin and Blockchain</li>
														<li>Cryptocurrency Mining</li>
														<li>Ethereum </li>
														<li>Setting up first project in Ethereum </li>
														<li>Hyperledger </li>
														<li>Working with Hyperledger</li>
														<li>Test, Build, Deploy private blockchain in multichain </li>
														<li>Future use-case of Blockchain</li>
														<li>Real World Projects building and Deploying</li>
													  </ol>
												</div>
											</div>
										</div>	

								</div>
								</div>
							</div>
						</div>


					</div>
				</div>
				<!-- Sidebar area -->
				<div class="col-md-4 col-sm-5 sidebar">
					
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Tags</h2>
						<ul class="tag">
							<li><a href="">branding</a></li>
							<li><a href="">identity</a></li>
							<li><a href="">video</a></li>
							<li><a href="">design</a></li>
							<li><a href="">inspiration</a></li>
							<li><a href="">web design</a></li>
							<li><a href="">photography</a></li>
						</ul>
					</div>
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Quote</h2>
						<div class="quote">
							<span class="quotation">‘​‌‘​‌</span>
							<p>Vivamus in urna eu enim porttitor consequat. Proin vitae pulvinar libero. Proin ut hendrerit metus. Aliquam erat volutpat. Donec fermen tum convallis ante eget tristique. Sed lacinia turpis at ultricies vestibulum.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- page section end-->





	<!-- Footer section -->
	<footer class="footer-section">
		<h2>2017 All rights reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></h2>
	</footer>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
